@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;400;700;900&display=swap');


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}
/* ============  typography  ============= */

h1{
    font-weight: 300;
    font-size: 2.5rem;
}
.title {
    font-size: 2.5rem;
    margin-bottom:1.5em ;
    font-weight: 900;
    margin-top: 1em;
}

.title span {
    font-weight: 300; 
    display:block;
    font-size: .9em;
}
@media (min-width:60rem){
    .title{
        font-size: 3.7rem;
    }
}
/* buttons */

.button {
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.2em;
}

.button-accent{
    color:firebrick;
}
.button-accent:hover,
.button-accent:focus {

    background: firebrick;
    color: #232323;

}
@media (min-width:60rem){
    .button{
        font-size: 1.5rem;
    }
}


/* ============  Header  ============= */
header{
    position: absolute;
    width: 100%;
    margin-top: 1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 1em;
}
nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    
}
nav a:hover,
nav a:focus{
    color: #ddd;
}

@media (min-width:60rem){
    .logo{
        float: left;
    }

    nav {
        float: right;
    }
}

/* ============  Hero  ============= */

.home-hero {
    background-image: url(images/hero-bg.jpg);
    padding: 0 0;
    color: #fff;
    background-size: cover;
    background-position: center;
}

@media (min-width: 60rem){
    .home-hero{
        height: 100vh;
        padding-top: 35vh;
    }
}

/* ============  hero-home  ============= */

.home-about-textbox {
    background-color: #232323;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid firebrick;
    outline-offset: -2.5em;
    color: antiquewhite;
    position: relative;
}

.home-about-textbox h1{
    color: firebrick;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -.49em;
    background: #232323;
    padding: 0 .3em;
}

@media (min-width: 25rem) {
   h1 {
        font-size: 2rem;
    }
    .home-about-textbox h1{
        top: -.5rem;
        padding: 0 .325em;
    }
    
}
@media (min-width: 60rem) {
    h1 {
         font-size: 2.5rem;
     }
     .home-about {
         background-image: url(https://via.placeholder.com/1100x500.jpg?text=this+is+A+soup+picture);
         background-repeat: no-repeat;
         padding-bottom: 10em;
     }
     .home-about-textbox {
        width: 40%;
        margin-left: -2.5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 4em o rgba(0,0,0,100 %);
    }
     .home-about-textbox h1{
         top: -1rem;
        left: 3rem;
         transform: translateX(0);
        
     }
     
 }